<!DOCTYPE html>
<html lang="ku" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Boom's Pizza</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <script src="data.js"></script>
    <script src="script.js"></script>
</body>
</html>
